<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>新規作成</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="header">
    <div class="nav">

    <input id="drawer_input" class="drawer_hidden" type="checkbox">

    <label for="drawer_input" class="drawer_open"><span></span></label>

    <nav class="nav_content">
      <ul class="nav_list">
        <li class="nav_item"><a href="">1</a></li>
        <li class="nav_item"><a href="">2</a></li>
        <li class="nav_item"><a href="">3</a></li>
      </ul>
    </nav>
  
    </div>
    <select name="subject" class="subject">
      <option value="国語">国語</option>
      <option value="数学">数学</option>
    </select>
    <div class="search">
      <input type="text" id="search" size="20" />
      <input
        class="button"
        type="button"
        value="検索"
        onclick="alert_search()"
      />
      <script>
        function alert_search() {
        var message = document.getElementById("search").value;
        alert(message);
        }
      </script>
    </div>
    <div class="new">
      <input
        class="button"
        type="button"
        onclick="location.href=`http://localhost:3000/chats/edit`"
        value="新規作成"
      />
    </div>
  </header>
  <main>
<div class="posts-container">
  <% @prints.each do |t| %>
    <div class="temprete">
    <%= t.status %>
    </div>
  <% end %>
</div>
    <%# <div class="image-list">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
      <img class="template" src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" alt="">
    </div> %>
  </main>
</body>
</html>
