<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>新規作成</title>
  <link rel="stylesheet" href="style.css" />
  <script>
  async function copyToClipboard(obj) {
    const element = obj.previousElementSibling;
    // クリップボードAPIが使え、且つ、値が空でない時
    if (navigator.clipboard && !element.value == false) {
      await navigator.clipboard.writeText(element.value);
      alert("コピーされました！");
    } else {
      alert("コピーされませんでした！");
    }
  }
  </script>
</head>
    <div class="editor" contenteditable="true" id="editor">
        <div class="header"></div>
        <input type="text" id="title" value="タイトル">
    </div>
    <%= link_to "PDF出力", chats_index_path, method: :get %>

</body>
</html>