<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>新規作成</title>
    <link rel="stylesheet" href="Chatgpteditstyle.css" ></link>
    <script src="./Chatgpteditjs.js">
    </script>
  </head>
<body>
  <p>問題の傾向を選択してください</p>
  <select name="question">
    <option value="choice">四択問題</option>
    <option value="writing">記述問題</option>
    <option value="fill_in">穴埋め問題</option>
  </select>
  <p>AIに聞く文章を書く欄<br>
  </p>
  <%= form_with(url: chats_create_path , method: :post) do |form| %>
  <%= form.text_field :query, size: 50%>
  <%= form.submit "検索" %>
<% end %>

<p>AIが作った問題<br>
<div class="input-container">
  <textarea id="copyText" cols="50" rows="5"> <%= @chats %> </textarea>
  <button onclick="copyToClipboard(this)">
    Copy Text
  </button>
</div>
</body>