<div class="top">
<p>AIが作った問題<br>
<!-- <textarea id="copy-textarea" cols="50" rows="5">テキストを追加</textarea>

</p> -->
<button onClick="copy()">コピー</button> 

<div class="input-container">
<!-- <input type="text" id="copyText" placeholder="入力してください。" /> -->
<textarea id="copyText" cols="50" rows="5"> <%= @chats %>　</textarea>
<button onclick="copyToClipboard(this)">
  Copy Text
</button>